@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/blue.jpg");
}

h1 {
  font-family: "Permanent Marker", cursive;
}

.project {
  font-family: "Petit Formal Script", cursive;
  color: rgb(75 179 248);
  font-weight: 700;
  font-size: 50px;
}
