@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
}

body::after {
  content: "";
  background-image: url("/blue.jpg");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

h1 {
  font-family: "Permanent Marker", cursive;
}

.project {
  font-family: "Petit Formal Script", cursive;
  color: rgb(75 179 248);
  font-weight: 700;
  font-size: 35px;
}

.weather {
  font-family: "Rubik Wet Paint", cursive;
  color: rgb(75 179 248);
  font-size: 35px;
}

.scrolls {
  font-family: "Trade Winds", cursive;
  color: rgb(75 179 248);
  font-weight: 700;
  font-size: 35px;
}

.burgers {
  font-family: "Caprasimo", cursive;
  color: rgb(75 179 248);
  font-weight: 700;
  font-size: 35px;
}

.flixpix {
  color: rgb(14 165 233);
  font-weight: 700;
  font-size: 35px;
}
